body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  border: 1px solid #000;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}
